header{
	background-color:yellow;
	padding: 25px;
	color: black;
	clear: left;
	text-align:center;
}
nav{
	background-color:white;
	text-align:center;
}
a.highlight:hover {
  color: red;
} 
#nav2{
	float: left;
	width:30%;
	height:400px;
	text-align:left;
	background-color:green;
}
#nav2 ul {
    list-style-type: none;
	padding:10px;
}

#nav2 ul li a{
    text-decoration: none;
    font-size: 30px;
} 
section{
	padding: 10px;
	color:green;
	background-color:black;
	text-align:center;
}
#section2{
	color:green;
	background-color:gray;
	text-align:center;
	height:380px;
}
footer{
	background-color:black;
	color:white;
	text-align:center;
	height:20px;
	padding:25px;
}
article{
	float:left;
	padding:20px;
}