table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
legend {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border-style: double;
}

form{
	border-style: solid;
	padding:5px;
}